/* text-align */
.tl {
    text-align: left !important;
}
.tc {
    text-align: center !important;
}
.tr {
    text-align: right !important;
}


/* cursor */
.pointer {
    cursor: pointer !important;
}